[submodule "modules/lemur"]
	path = modules/lemur
	url = https://github.com/LPGhatguy/lemur.git
[submodule "modules/testez"]
	path = modules/testez
	url = mBxwA<?>2%m!!!%j"f9#98fdg8l!$!4#99"k!49g@tgzwgp;tix
